{% extends 'portfolio/base.html' %}
{% block content %}

        <h1>Hello my name is Himanshu Tewari, by profession I am Software Engineer.</h1>
            {% load static %}
            <a href="{% url 'blog:all_blogs' %}">Blogs</a>
            <br>
            <a href="{% static 'portfolio/resume.pdf' %}">Resume</a>
            <br>
            <img src="{% static 'portfolio/IMG_7278.jpg' %}" height="580" width="440">
            <br>
            <br>
                {% for project in projects %}
                <h3>Title:{{ project.title }}</h3>
                <p>Description:{{ project.description }}</p>
                <img src="{{ project.image.url }}" height=240 width=360>
                {% if project.url %}
                <br>
                <a href="{{ project.url }}"> Link</a>
                {% endif %}
                {% endfor %}
            <br>
            <br>

{% endblock %}